@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

:root {
  --primary-color: #d5bdaf;
  --primary-color-dark: #4a4e69;
  --primary-color-light: #f5ebe0;
  --secondary-color: #ca8a04;
  --text-dark: #463f3a;
  --text-light: #4a4e69;
  --extra-light: #faf5ff;
  --max-width: 100%;
}

* {
  margin: 0;
  font-family: "M PLUS 2", sans-serif;
  font-weight: 400;
  padding: 1rem;
  color: var(--text-dark);
}

body {
  margin: 5%;
  font-weight: 100;
  background-color: var(--primary-color-light);
}

h1 {
  font-weight: 400;
  font-size: 5cap;
}

h2 {
  font-weight: 600;
  font-size: 2cap;
  padding-bottom: 0rem;
  padding-top: 2rem;
}

canvas {
  display: block;
}

.grid__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-columns: 400px 1200px;
  gap: 2rem;
}

.grid_item {
  background-color: var(--primary-color);
}
